<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body class="student-pg center">
    <script>history.replaceState(null, null, ' ');</script>
    <form class="center" method="POST" action="">
      <div style="margin-top: 20px;;display: flex;justify-content: space-between;align-items: flex-start;width: 100%;">
        <div><strong><%= name %></strong></div>
        <div><%- settings.intro %></div>
      </div>
      <% questions.forEach((question, i) => { %>
      <div class="stud-ques ques">
        <div class="row">          
          <div class="together">
            <div><strong><%= i + 1 %>.</strong></div>
            <div class="stud-ques-name"><%- question.name %></div>
          </div>
          <% if(!question.type.includes('survey')) { %> 
          <div class="stud-ques-points"><%= question.points %> point</div>
          <% } %> 
        </div>
        <div>
          <% if(question.options) question.options.forEach(option => { %> 
          <label class="option">
            <input 
            type="<%= question.type === 'mco' ? 'radio' : 'checkbox' %>" 
            name="studAnswers[<%= i %>]" 
            value="<%= option %>" 
            <%= question.type === 'mco' ? 'required' : '' %> 
            >
            <p><%- option %></p>
          </label>
          <% }) %> 
          <% if(question.type === 'survey-answer') { %>
          <label for="answer">Answer: </label>
          <input type="text" name="answer" id="answer">
          <% } %>  
        </div>
      </div>
      <% }) %> 
      <button type="submit" style="margin-top: 10px;padding: 5px;font-size: 16px;">Submit</button>
    </form>
  </body>
</html>
